.Cap {
    width: 100%;
    height: 600px;
    background-color: black;
    transform: skewY(-5deg) translateY(-100px);
    background-image: url("../../../asets/image/01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: calc(27px + 23 * (100vw / 1280));
}

.User_Page {
    min-height: 2100px;
}

.UsersCabinet {
    position: absolute;
    top: 450px;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background-color: #01012d;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 15px #0561c3;
}

@media screen and (max-width: 470px) {
    .UsersCabinet {
        width: 350px;
        left: calc(3.5% + 8% * (100vw / 1280));
    }
}

@media screen and (max-width: 375px) {
    .UsersCabinet {
        left: 3.5%;
    }
}

@media screen and (max-width: 325px) {
    .UsersCabinet {
        width: 300px;
    }
}

.UsersCabinet_UserInform {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.User_Balance {
    color: #2196f3;
}

.Logout_Button_Wrapper {
    flex-basis: 40%;
    flex-shrink: 1;
}

.Wrapper_heading {
    position: absolute;
    top: 1%;
    width: 100%;
}

h1 {
    color: white;
    font-size: calc(27px + 23 * (100vw / 1280));
    text-shadow: 0px 0px 25px #0a161c, 0px 0px 35px #0a161c, 0px 0px 45px #0a161c;
}

h2 {
    color: white;
    font-size: calc(20px + 23 * (100vw / 1280));
    text-shadow: 0px 0px 25px #0a161c, 0px 0px 35px #0a161c, 0px 0px 45px #0a161c;
}

/*neon button styles*/

.Logout_Button {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
    background-color: #01012d;
    border: none;
    color: white;
    overflow: hidden;
    padding: 15px 30px;
    transition: 0.2s;
}

.Logout_Button:hover {
    background-color: #2196f3;
    color: #333;
    transition-delay: 0.7s;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    cursor: pointer;
}

.button_line {
    position: absolute;
    display: block;
}

.Logout_Button:hover .button_line_top {
    left: 100%;
    transition: 1s;
    transition-delay: 0S;
}

.button_line_top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.Logout_Button:hover .button_line_bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0S;
}

.button_line_bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.Logout_Button:hover .button_line_left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25S;
}

.button_line_left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #2196f3);
}

.Logout_Button:hover .button_line_right {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25S;
}

.button_line_right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

