.Transaction_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: 40%;
}

@media screen and (max-width: 1023px) {
    .Transaction_Form {
        margin-top: 400px;
        margin-left: 0;
        width: 307px;
    }
}

.Transaction_Input {
    width: 90%;
    height: 50px;
    margin-top: 30px;
    color: cadetblue;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: solid 1px;
}

.Transaction_Bt {
    width: 35%;
    height: 80px;
    background-color: cadetblue;
    margin-top: 30px;
    outline: none;
    border-style: none;
    border-radius: 5px;
}

@media screen and (max-width: 1023px) {
    .Transaction_Bt {
        width: 107px;
    }
}

.Transaction_Bt_Active {
    width: 35%;
    height: 80px;
    background-color: cadetblue;
    margin-top: 30px;
    outline: none;
    border-style: none;
    border-radius: 5px;
}

.Transaction_Bt_Active:hover {
    color: orange;
    transform: scale(1.01);
    transition: 0.2s;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .Transaction_Bt_Active {
        width: 107px;
    }
}

.Transaction_Retry {
    position: absolute;
    top: 77%;
    left: 37%;
    width: 26%;
    height: 60px;
    outline: none;
    background-color: cadetblue;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.Transaction_Retry_Active {
    position: absolute;
    top: 77%;
    left: 37%;
    width: 26%;
    height: 60px;
    outline: none;
    background-color: cadetblue;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
}

.Transaction_Retry_Active:hover {
    color: orange;
    transform: scale(1.01);
    transition: 0.2s;
    cursor: pointer;
}

.Transaction_Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;
}

.Transaction_Item_Wrapper {
    width: 40%;
    margin-top: 100px;
}

@media screen and (max-width: 1024px) {
    .Transaction_Item_Wrapper {
        width: 410px;
    }
}

@media screen and (max-width: 325px) {
    .Transaction_Item_Wrapper {
        width: 410px;
    }
}

@media screen and (max-width: 470px) {
    .Transaction_Item_Wrapper {
        width: 295px;
    }
}

.Transaction_Item {
    position: relative;
    height: 300px;
    margin-top: 25px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 15px #2e3740;
}

.Transaction_Item img {
    height: 150px;
    width: 190px;
}

.Transaction_Inform {

    font-size: 14px;
}

@media screen and (max-width: 470px) {
    .Transaction_Inform {
        font-size: 11px;
    }
}

.Transaction_Inform_Item {
    max-width: 95%;
    margin: auto;
    display: block;
}

.transactionError {
    position: absolute;
    color: red;
}

.Page_List {
    min-width: 300px;
    min-height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 1px 15px #2e3740;
    margin: 30px 10px 0 10px;
    padding: 0;
}

.Page_List_Item {
    border-radius: 10px;
    padding-top: 5px;
    align-content: center;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.Page_List_Item:hover {
    color: orange;
    box-shadow: 0 1px 15px #2e3740;
}
